.App {
  text-align: center;
  min-height: 100%;
  background-color: wheat;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2vmin;
  color: white;
  height: 10%;
}

.App-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.App-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10%;
}
